
<h2>Trabajos practicos Clase 1</h2>
<ul>
    <li><h4>Tablas</h4></li>
    <li><a href="/clase1/tp1">TP 01 - Tablas basicas</a></li>
    <li><a href="/clase1/tp2">TP 02 - Tablas avanzadas</a></li>
    <li><h4>Listas</h4></li>
    <li><a href="/clase1/tp3">TP 03 - Ejemplo de listas</a></li>
    <li><h4>Formularios</h4></li>
    <li><a href="/clase1/tp4">TP 04 - Ejemplo Combo</a></li>
    <li><a href="/clase1/tp5">TP 05 - Hoja de estilos</a></li>
    <li><a href="/clase1/tp6">TP 06 - Javascript - Sumar</a></li>
    <li><a href="/clase1/tp7">TP 07 - Javascript - Aciertos</a></li>
</ul>
