<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejemplo de tablas avanzadas</title>
</head>
<body>
    <h1>TABLAS Avanzadas</h1>
    <table width="50%" border="1" cellpadding="3" cellspacing="3">
        <tr>
            <td colspan="2" align="right">Dato 1</td>
            <td>Cualquier texto</td>
            <td rowspan="2">Dato 3</td>
        </tr>
        <tr>
            <td>Dato 4</td>
            <td>Dato 4</td>
            <td align="center">Dato 5</td>
        </tr>
    </table>

    <a href="/home">Volver al menu</a>
</body>
</html>
