<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejemplo de listas</title>
</head>
<body>
    <h1>LISTAS</h1>
    <!-- LISTAS ORDENADAS -->
    <ol>
        <li>SISTEMAS</li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ol>
    <br />

    <!-- LISTAS SIN ORDENAR -->
    <ul>
        <li>SISTEMAS</li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ul>
    <br />

    <!-- LISTA DE GLOSARIO -->
    <dl>
        <dt>Termino 1</dt>
        <dd>Definicion</dd>
        <dt>Termino 2</dt>
        <dd>Definicion</dd>
    </dl>
    <br />

    <!-- LISTAS ANIDADAS -->
    <ul>
        <li>
            CARRERAS
            <ul>
                <li>SISTEMAS</li>
                <li>INGENIERIA</li>
                <li>DERECHO</li>
            </ul>
        </li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ul>
    <br />


    <a href="/home">Volver al menu</a>
</body>
</html>
