<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejemplo Combo</title>
</head>
<body>
    <h1>Ejemplo Combo</h1>
    <select name="Emisora">
        <option value="1">ASPEN</option>
        <option value="2">LA 100</option>
        <option value="3">MITRE</option>
        <option value="4" selected>MEGA</option>
    </select>
    <a href="/home">Volver al menu</a>
</body>
</html>
