<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tablas basicas</title>
</head>
<body>

    <script language="Javascript">
        var nro1 = eval(prompt("Ingresa el numero 1", 1));
        var nro2 = eval(prompt("Ingresa el numero 2", 2));
        calc(nro1, nro2);

        function calc(nro1, nro2) {
            alert("la suma es " + eval(nro1 + nro2));
            return;
        }
    </script>

    <h1>Suma</h1>
    <br />
    <a href="/home">Volver al menu</a>
</body>
</html>
