<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ejercicio de selectores</title>

    <style>
        .row1 { color: teal; }
        .row2 { color: red; }
        .row3 { color: blue; }
        .row4 { color: orange; }
        .row5 { color: purple; }
        .row6 { color: olive; }
        .row7 { color: fuchsia; }
        .row8 { color: green; }
        .col1 { background-color: white; }
        .col2 { background-color: red; }
        .col3 { background-color: green; }
        .col4 { background-color: blue; }

    </style>

</head>
<body>
    <h1>Selectores 2</h1>
    <table border="1">
        <tr class="row1"><td class="col1">teal</td>   <td class="col2">teal</td>   <td class="col3">teal</td>   <td class="col4">teal</td></tr>
        <tr class="row2"><td class="col1">red</td>    <td class="col2">red</td>    <td class="col3">red</td>    <td class="col4">red</td></tr>
        <tr class="row3"><td class="col1">blue</td>   <td class="col2">blue</td>   <td class="col3">blue</td>   <td class="col4">blue</td></tr>
        <tr class="row4"><td class="col1">orange</td> <td class="col2">orange</td> <td class="col3">orange</td> <td class="col4">orange</td></tr>
        <tr class="row5"><td class="col1">purple</td> <td class="col2">purple</td> <td class="col3">purple</td> <td class="col4">purple</td></tr>
        <tr class="row6"><td class="col1">olive</td>  <td class="col2">olive</td>  <td class="col3">olive</td>  <td class="col4">olive</td></tr>
        <tr class="row7"><td class="col1">fuchsia</td><td class="col2">fuchsia</td><td class="col3">fuchsia</td><td class="col4">fuchsia</td></tr>
        <tr class="row8"><td class="col1">green</td>  <td class="col2">green</td>  <td class="col3">green</td>  <td class="col4">green</td></tr>
    </table>

    <br />
    <a href="/home">Volver al menu</a>

</body>
</html>