<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trabajos practicos</title>
</head>
<body>
    <h1>Trabajos practicos LPPA - 2020</h1>
    <h2>Alumno : Grassano Javier</h2>
    <h3>Trabajos practicos</h3>
    <ul>
        <li><a href="/clase1/tp1">Clase 1 - TP 01 - Tablas basicas</a></li>
        <li><a href="/clase1/tp2">Clase 1 - TP 02 - Tablas avanzadas</a></li>
        <li><a href="/clase1/tp3">Clase 1 - TP 03 - Ejemplo de listas</a></li>
        <li><a href="/clase1/tp4">Clase 1 - TP 04 - Ejemplo Combo</a></li>
        <li><a href="/clase1/tp5">Clase 1 - TP 05 - Hoja de estilos</a></li>
        <li><a href="/clase1/tp6">Clase 1 - TP 06 - Javascript - Sumar</a></li>
        <li><a href="/clase1/tp7">Clase 1 - TP 07 - Javascript - Aciertos</a></li>
        
    </ul>
</body>
</html>
