<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trabajos practicos</title>

    <style>

        /* En su estado normal, un enlace se muestra de color rojo y sin subrayado (propiedad text-decoration). */
        a:link {
            color: blue;
            text-decoration: none;
        }

        /* Cuando un enlace ha sido visitado, se muestra de color verde oscuro. */
        a:visited {
            color: green;
        }

        a:focus {
            color: red;
            text-decoration: underline;
        }

        /* Cuando un enlace está activo, se muestra de color naranja. */
        a:hover, a:active {
            color: orange;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <h1>Trabajos practicos LPPA - 2020</h1>
    <h2>Alumno : Grassano Javier</h2>
    <h3>Trabajos practicos Clase 1</h3>
    <ul>
        <li><h4>Tablas</h4></li>
        <li><a href="/clase1/tp1">TP 01 - Tablas basicas</a></li>
        <li><a href="/clase1/tp2">TP 02 - Tablas avanzadas</a></li>
        <li><h4>Listas</h4></li>
        <li><a href="/clase1/tp3">TP 03 - Ejemplo de listas</a></li>
        <li><h4>Formularios</h4></li>
        <li><a href="/clase1/tp4">TP 04 - Ejemplo Combo</a></li>
        <li><a href="/clase1/tp5">TP 05 - Hoja de estilos</a></li>
        <li><a href="/clase1/tp6">TP 06 - Javascript - Sumar</a></li>
        <li><a href="/clase1/tp7">TP 07 - Javascript - Aciertos</a></li>
    </ul>
    <h3>Trabajos practicos Clase 4 - 30/05/2020</h3>
    <ul>
        <li><h4>CSS</h4></li>
        <li><a href="/clase4/tp1">TP 01 - HTML &amp; CSS: Curso práctico avanzado - Atributo style</a></li>
        <li><a href="/clase4/tp2">TP 02 - HTML &amp; CSS: Curso práctico avanzado - Etiqueta style</a></li>
        <li><a href="/clase4/tp3">TP 03 - HTML &amp; CSS: Curso práctico avanzado - Archivo css</a></li>
        <li><h4>Selectores</h4></li>
        <li><a href="/clase4/tp4">TP 04 - Selectores 1</a></li>
        <li><a href="/clase4/tp5">TP 05 - Selectores 2</a></li>
        <li><a href="/clase4/tp6">TP 06 - Selectores 3</a></li>
        <li><h4>Maquetacion</h4></li>
        <li><a href="/clase4/tp7">TP 07 - Maquetación diseño fijo</a></li>
        <li><a href="/clase4/tp8">TP 08 - Maquetación diseño elástico</a></li>
    </ul>
</body>
</html>
