<h2>Trabajos practicos Clase 4 - 30/05/2020</h2>
<ul>
    <li><h4>CSS</h4></li>
    <li><a href="/clase4/tp1">TP 01 - HTML &amp; CSS: Curso práctico avanzado - Atributo style</a></li>
    <li><a href="/clase4/tp2">TP 02 - HTML &amp; CSS: Curso práctico avanzado - Etiqueta style</a></li>
    <li><a href="/clase4/tp3">TP 03 - HTML &amp; CSS: Curso práctico avanzado - Archivo css</a></li>
    <li><h4>Selectores</h4></li>
    <li><a href="/clase4/tp4">TP 04 - Selectores 1</a></li>
    <li><a href="/clase4/tp5">TP 05 - Selectores 2</a></li>
    <li><a href="/clase4/tp6">TP 06 - Selectores 3</a></li>
    <li><h4>Maquetacion</h4></li>
    <li><a href="/clase4/tp7">TP 07 - Maquetación diseño fijo</a></li>
    <li><a href="/clase4/tp8">TP 08 - Maquetación diseño elástico</a></li>
</ul>